

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#"> <img width="50px" height="50px"  src="./assets/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#" routerLink="/employees" routerLinkActive="active">Employees <span class="sr-only">(current)</span></a>
        <!-- <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a> -->
       
      </div>
   
      <div class="float-right">
        <!-- <a class="nav-item nav-link text-white float-right"  (click)="showOrders()" routerLinkActive="active">Orders</a> -->
        <a class="nav-item nav-link text-white float-right"  routerLink="/orders"  routerLinkActive="active">Department</a>
      </div>
      
    </div>


<!--   
      <div class="navbar-nav">
          <a class="nav-item nav-link " [hidden]="isLoggedIn" routerLink="/login" routerLinkActive="active" tabindex="-1" aria-disabled="true">Login</a>
          <button class="nav-item nav-link bg-dark text-white" [hidden]="!isLoggedIn" (click)="logout()" tabindex="-1" aria-disabled="true">Logout</button>
          <a  class="nav-item nav-link active" routerLink="user-register" routerLinkActive="active" [hidden]="isLoggedIn" >Register</a>
       
      </div> -->

  </nav>